@model IEnumerable<SiteWebStore.Models.tbProduct>

@{
    ViewBag.Title = "Product Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Inventory</h2>

<p>
    @Html.ActionLink("Create New Product", "CreateProduct")
</p>
<table class="table">
    <tr>
        <th>
            Code
        </th>
        <th>
            Name
        </th>
        <th>
            Stock
        </th>
        <th>
            DiscountProduct
        </th>
        <th>
            Internal Price
        </th>
        <th>
            Public Price
        </th>
        <th>
            Brand
        </th>
        <th>
            Provider
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InternalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdBrand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdProvider)
        </td>
        <td>
            @Html.ActionLink("Product Details", "ProductDetails", new { id=item.Id })
        </td>
    </tr>
}

</table>
